<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Modificar Datos</h3>
      <div class="card-body">
        <!--Comprobamos primero que exista el formulario-->
          <div *ngIf="myForm" class="form-group">
            <!--El formulario en el componente es myForm y cuando se pulse el botón se llama a Actualizar()-->
            <form [formGroup]="myForm" (ngSubmit)="Actualizar()">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-control" />
              <label for="apellidos">apellidos</label>
              <input type="text" formControlName="apellidos" class="form-control" />
              <label for="sueldo">Sueldo</label>
              <input type="text" formControlName="sueldo" class="form-control" />
              <button [disabled]="myForm.pristine" type="submit" class="btn btn-primary" style="margin-top: 10px;">Actualizar</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
